.app {
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 750px;
  padding-right: 200px;
  margin-top: 0;
  margin-bottom: 0;
  height: 70px;
  background-color: rgba(45, 153, 241, 0.863);
}

